@import '../../mixins.scss';

.job-results {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  h2 {
    font-size: 1.5rem;
    font-family: Gordita-Bold;
    margin-bottom: 20px;
  }

  .job-details-link {
    text-decoration: none;
    color: black;

    .job-result {
      display: flex;
      justify-content: space-between;
      padding: 30px 40px;
      max-width: 800px;
      width: 70vw;
      border: solid 1px black;
      border-radius: 5px;
      margin-bottom: 20px;
      box-shadow: 5px 5px;

      position: relative;
      top: 0;
      left: 0;
      transition: top ease 0.5s, left ease 0.5s;
      &:hover {
        top: -5px;
        left: -5px;
      }

      .logo-description-wrapper {
        display: flex;
        flex-direction: column;

        @include respond('tablet') {
          flex-direction: row;
        }

        .logo-wrapper {
          display: flex;
          align-items: center;
          min-height: 80px;

          img {
            margin-right: 50px;
          }
        }

        .job-description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .job-place {
            font-size: 0.8rem;
            color: grey;
            margin-bottom: 15px;
          }

          h3 {
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-family: Gordita-Bold;
            margin-bottom: 10px;
          }

          .job-age {
            font-size: 0.8rem;
            color: #0dadad;
            margin-top: 20px;
          }
        }
      }

      .favorite-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }
    }
  }
}
