@import '../../mixins.scss';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding-top: 10vh;

  img {
    width: 200px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 1.5rem;
    font-family: 'Gordita-Bold';
    line-height: 2rem;
    width: 300px;
    margin-bottom: 30px;

    @include respond(mobile) {
      width: 400px;
    }
  }

  .register-hint {
    width: 300px;
    margin-bottom: 30px;

    @include respond(mobile) {
      width: 400px;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;

    @include respond(mobile) {
      width: 400px;
    }

    .email-input-field {
      margin-bottom: 30px;
    }

    .password-input-field {
      margin-bottom: 60px;
    }
  }

  .login-button {
    margin: 0 auto 40px auto !important;
    background: black !important;
    color: white !important;
    border-color: black !important;
    height: 55px !important;
    width: 250px !important;
    text-transform: none !important;
    font-weight: bold !important;

    .github-logo {
      position: relative;
      right: 20px;
      top: 18px;
      width: 30px;
    }

    &:hover {
      background: white !important;
      color: black !important;
    }
  }

  a {
    font-family: 'Gordita-Bold';
    color: #1aa9a8;
    line-height: 1.8rem;
  }
}
