@import './reset.scss';

@font-face {
  font-family: 'Gordita';
  src: url(./font/gordita/Gordita-Regular.otf);
}

@font-face {
  font-family: 'Gordita-Medium';
  src: url(./font/gordita/Gordita-Medium.otf);
}

@font-face {
  font-family: 'Gordita-Bold-Italic';
  src: url(./font/gordita/Gordita-Bold-Italic.otf);
}

@font-face {
  font-family: 'Gordita-Bold';
  src: url(./font/gordita/Gordita-Bold.otf);
}

body {
  font-family: Gordita;
}
