@import '../../mixins.scss';

.reset-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  padding-top: 10vh;

  img {
    width: 200px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 1.1rem;
    font-family: 'Gordita-Bold';
    line-height: 2rem;
    width: 300px;
    margin-bottom: 30px;

    @include respond(mobile) {
      width: 400px;
    }
  }

  .reset-form {
    display: flex;
    flex-direction: column;
    width: 300px;

    @include respond(mobile) {
      width: 400px;
    }

    .email-input-field {
      margin-bottom: 50px;
    }
  }
}
